# Ignorar todo por defecto
*

# No ignorar los siguientes archivos
!main.py
!client.py
!requirements.txt
!README.md
!conceptos.md
!.gitignore

# Ignorar explícitamente los artefactos del proyecto
.venv/
logs.db
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
.vscode/
